In [2]:
import twstock
import pandas as pd

In [5]:
stock_2330 = twstock.realtime.get('2330')
result = pd.DataFrame(stock_2330).T.iloc[1:3]
result

,accumulate_trade_volume,best_ask_price,best_ask_volume,best_bid_price,best_bid_volume,channel,code,fullname,high,latest_trade_price,low,name,open,time,trade_volume
info,NaN,NaN,NaN,NaN,NaN,2330.tw,2330,台灣積體電路製造股份有限公司,NaN,NaN,NaN,台積電,NaN,2021-09-24 14:25:00,NaN
realtime,16646,"[598.0000, 599.0000, 600.0000, 601.0000, 602.0...","[2, 1123, 1504, 589, 487]","[597.0000, 596.0000, 595.0000, 594.0000, 593.0...","[41, 68, 91, 343, 916]",NaN,NaN,NaN,598.0000,598.0000,590.0000,NaN,591.0000,NaN,3522

In [9]:
result.columns= ['成交量', '買進五檔', '買進五檔單量', '賣出五檔', '賣出五檔單量', 'channel', 'code', 'fullname', 'high', 'close', 'low', 'name', 'open', 'time', 'trade_volume']
result

,成交量,買進五檔,買進五檔單量,賣出五檔,賣出五檔單量,channel,code,fullname,high,close,low,name,open,time,trade_volume
info,NaN,NaN,NaN,NaN,NaN,2330.tw,2330,台灣積體電路製造股份有限公司,NaN,NaN,NaN,台積電,NaN,2021-09-24 14:25:00,NaN
realtime,16646,"[598.0000, 599.0000, 600.0000, 601.0000, 602.0...","[2, 1123, 1504, 589, 487]","[597.0000, 596.0000, 595.0000, 594.0000, 593.0...","[41, 68, 91, 343, 916]",NaN,NaN,NaN,598.0000,598.0000,590.0000,NaN,591.0000,NaN,3522

## yahoo 股市

In [50]:
import requests
import pandas as pd 
import twstock
from twstock import codes
import sqlite3
import json
from ast import literal_eval

In [19]:
def get_move(stockid):
    import requests
    import pandas as pd 
    
    url = 'https://tw.stock.yahoo.com/_td-stock/api/resource/FinanceChartService.ApacLibraCharts;autoRefresh=1632713649253;symbols=%5B%22' + stockid + '.TW%22%5D;type=tick?bkt=%5B%22tw-qsp-control-no2-1%22%2C%22tw-qsp-rampup-exp%22%5D&device=desktop&ecma=modern&feature=ecmaModern%2CuseVersionSwitch%2CuseNewQuoteTabColor&intl=tw&lang=zh-Hant-TW&partner=none&prid=9dt91s1gl2eq8&region=TW&site=finance&tz=Asia%2FTaipei&ver=1.2.1149&returnMeta=true'
    res = requests.get(url)

    jd = res.json()['data']
    close = jd[0]['chart']['indicators']['quote'][0]['close']
    timestamp = jd[0]['chart']['timestamp']

    df = pd.DataFrame({'timestamp': timestamp, 'close': close})
    df['time'] = pd.to_datetime(df['timestamp'] + 3600 * 8, unit = 's')
    return df

In [21]:
get_move('1101')

      timestamp  close                time
0    1632704400    NaN 2021-09-27 09:00:00
1    1632704460   51.1 2021-09-27 09:01:00
2    1632704520   51.1 2021-09-27 09:02:00
3    1632704580   51.1 2021-09-27 09:03:00
4    1632704640   50.9 2021-09-27 09:04:00
5    1632704700   50.8 2021-09-27 09:05:00
6    1632704760   51.1 2021-09-27 09:06:00
7    1632704820   50.9 2021-09-27 09:07:00
8    1632704880   51.0 2021-09-27 09:08:00
9    1632704940   50.9 2021-09-27 09:09:00
10   1632705000   50.9 2021-09-27 09:10:00
11   1632705060   50.9 2021-09-27 09:11:00
12   1632705120   50.9 2021-09-27 09:12:00
13   1632705180   50.9 2021-09-27 09:13:00
14   1632705240   50.9 2021-09-27 09:14:00
15   1632705300   50.8 2021-09-27 09:15:00
16   1632705360   50.8 2021-09-27 09:16:00
17   1632705420   50.7 2021-09-27 09:17:00
18   1632705480   50.8 2021-09-27 09:18:00
19   1632705540   50.7 2021-09-27 09:19:00
20   1632705600   50.8 2021-09-27 09:20:00
21   1632705660   50.7 2021-09-27 09:21:00
22   1632705720   50.7 2021-09-27 09:22:00
23   1632705780   50.7 2021-09-27 09:23:00
24   1632705840   50.8 2021-09-27 09:24:00
25   1632705900   50.7 2021-09-27 09:25:00
26   1632705960   50.9 2021-09-27 09:26:00
27   1632706020   50.8 2021-09-27 09:27:00
28   1632706080   50.8 2021-09-27 09:28:00
29   1632706140   50.7 2021-09-27 09:29:00
..          ...    ...                 ...
133  1632712380   51.0 2021-09-27 11:13:00
134  1632712440   51.1 2021-09-27 11:14:00
135  1632712500   51.1 2021-09-27 11:15:00
136  1632712560   51.1 2021-09-27 11:16:00
137  1632712620   51.1 2021-09-27 11:17:00
138  1632712680   51.0 2021-09-27 11:18:00
139  1632712740   51.0 2021-09-27 11:19:00
140  1632712800   51.0 2021-09-27 11:20:00
141  1632712860   51.1 2021-09-27 11:21:00
142  1632712920   51.1 2021-09-27 11:22:00
143  1632712980   51.0 2021-09-27 11:23:00
144  1632713040   51.0 2021-09-27 11:24:00
145  1632713100   51.0 2021-09-27 11:25:00
146  1632713160   51.1 2021-09-27 11:26:00
147  1632713220   51.0 2021-09-27 11:27:00
148  1632713280   51.1 2021-09-27 11:28:00
149  1632713340   51.1 2021-09-27 11:29:00
150  1632713400   51.1 2021-09-27 11:30:00
151  1632713460   51.1 2021-09-27 11:31:00
152  1632713520   51.2 2021-09-27 11:32:00
153  1632713580   51.1 2021-09-27 11:33:00
154  1632713640   51.2 2021-09-27 11:34:00
155  1632713700   51.2 2021-09-27 11:35:00
156  1632713760   51.1 2021-09-27 11:36:00
157  1632713820   51.1 2021-09-27 11:37:00
158  1632713880   51.2 2021-09-27 11:38:00
159  1632713940   51.1 2021-09-27 11:39:00
160  1632714000   51.2 2021-09-27 11:40:00
161  1632714060   51.1 2021-09-27 11:41:00
162  1632714120   51.1 2021-09-27 11:42:00

[163 rows x 3 columns]

In [157]:
'''
twstock 最佳五檔
'''

def get_bid(stockid):
    import pandas as pd 
    import twstock
    import json
    
    twstock.realtime.mock = False
    fav_list = ['1101', '2330', '2317', '2498']
    data = twstock.realtime.get(fav_list)
    table = data[stockid]['realtime']
    df = pd.DataFrame(list(table.items()))
    df.columns = ['project', stockid]
    df = df.set_index('project')
    df = df.drop(['latest_trade_price', 'trade_volume', 'accumulate_trade_volume', 'open', 'high', 'low'])
    results = df.to_json()
    parsed = json.loads(results)
    
    return parsed

In [162]:
get_bid('2498')

{'2498': {'best_bid_price': ['37.8500',
   '37.8000',
   '37.7500',
   '37.7000',
   '37.6500'],
  'best_bid_volume': ['70', '25', '27', '86', '51'],
  'best_ask_price': ['37.9000', '37.9500', '38.0000', '38.0500', '38.1000'],
  'best_ask_volume': ['5', '9', '24', '11', '35']}}